/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
/*     padding: 50px 0; */
/*     background: url("../images/bg-school.jpg") repeat-x left bottom fixed; */
}
/*
 * Global add-ons
 */
.form-group .required .control-label:after
{
	content:"*";
	color:red;
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: rgba(255, 255, 255, 0.7)
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}
/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
/*
 * Main content
 */

.main {
    padding: 20px;
}

.main .page-header {
    margin-top: 0;
}
/*
 * Custom CSS
 */

.custom-header {
    background: #337ab7;
    color: #fff;
}

.custom-header .navbar-nav>li>a {
    color: #fff;
}

.custom-header .navbar-brand {
    padding: 1px 15px 0;
}

.custom-header .navbar-toggle {
    border-color: #fff;
}
/*
 * General page CSS
 */

.tab-content {
    margin-top: 20px;
}

.form-horizontal .input-group[class*=col-] {
    padding-right: 15px;
    padding-left: 15px;
}

.form-horizontal label[title] {
    position: relative;
}

.input-group .custom-select {
    padding: 0;
}

.input-group .custom-select select {
    height: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0 2px;
    width: 38px;
    background: transparent;
    border: 0;
    box-shadow: none;
}

@-moz-document url-prefix() {
    .custom-select {
        overflow: hidden;
        width: 40px;
    }
    .custom-select select {
        width: 140% !important;
    }
}

.icon-btn {
    font-size: 16px;
    padding: 4px 10px;
}

textarea {
    resize: none;
}

a {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.inline-checkboxes-holder {
    margin-left: 5px;
}

.inline-checkboxes-holder label {
    font-weight: normal;
}

.custom-tool-tip {
    position: relative;
    opacity: 1;
    float: left;
    z-index: 1000;
}

.custom-tool-tip .tooltip-inner {
    text-align: left;
    max-width: inherit;
    color: #66512c;
    background-color: #faebcc;
}

.custom-tool-tip.right .tooltip-arrow {
    border-right-color: #faebcc;
}

.help-block {
    position: absolute;
    top: 32px;
    left: 15px;
    font-size: 12px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #428bca;
}

.top-margin {
    margin-top: 20px;
}

.bottom-margin {
    margin-bottom: 20px;
}

.alignRight {
    text-align: right;
}

.table {
    margin: 20px 0;
}
/* -------  TEMPLATES SYTLES ------- */

.text-line {
    cursor: pointer;
    padding: 4px 7px;
    background-color: #428bca;
    border: 1px solid #eee;
    margin: 8px 0;
    border-radius: 4px;
    color: #FFF;
}

.text-edit {
    display: none;
}

.preview {
    width: 48%;
    display: inline-block;
    background-color: #E5E5E5;
    min-height: 683px;
    border-radius: 4px;
    margin-left: 1%;
    float: right;
    padding: 15px 20px;
}

.template {
    display: inline-block;
    width: 50%;
}

.main-div,
.display-none {
    display: none;
}

.custom-header .dropdown-menu {
    min-width: 123px;
}

.form-group {
    margin-bottom: 20px;
}
/* ----------- Configuration - Subcriptions tab  ----------- */

.subs-new {
    display: none;
}

.subscriptions-new,
.billing-frequency,
.commission-new {
    display: none;
}
/* Added by Khalid */

.lineHeight24 {
    line-height: 24px;
}
/* Login form */

.login-form {
    width: 300px;
    height: 350px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -160px;
}

.btn-red {
    background: #dd4b39;
    color: #fff;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
    background: #D0402E;
    color: #fff;
}

@media (max-width: 767px) {
    .custom-header .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    /* Configurations page */
    
    .tooltip.right {
        padding: 5px 0;
        margin: 20px 0 0;
    }
    .custom-tool-tip.right .tooltip-arrow {
        border-right-color: transparent;
        top: 0;
        left: 50%;
        margin: 0 0 0 -5px;
        border-width: 0 5px 5px;
        border-bottom-color: #faebcc;
    }
    .custom-header .input-group {
        margin-bottom: 10px;
    }
    .navbar-form .select-country .form-control {
        width: 100%;
    }
    .nav-sidebar {
        margin-bottom: 0;
    }
    /* Templates */
    
    .template,
    .preview {
        width: 100%;
        float: none;
        display: block;
        margin: 0 0 10px;
    }
}

@media (min-width: 768px) {
    .main {
        padding-right: 28px;
        padding-left: 28px;
    }
    /* Configurations */
    
    .navbar-form .select-country .form-control {
        width: 196px;
    }
    .sidebar {
        position: fixed;
        top: 32px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
    .form-horizontal .control-label {
        text-align: left;
    }
    
*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
.panel-group {
    margin-bottom: 0;
}
}
.has-error{
     width: 196px;
     border-color:#a94442;
    }
.error-text{
     width: 196px;
     border-color:#a94442;
    }  
.panel-body {
    font-size: 12px;
    padding: 5px;
    margin-left:15px;
}

/* footer menu css */

html {
   -ms-overflow-style: scrollbar;
}

/* #footer-panel {
  position: fixed;
  bottom: 0;
  width: 100%;  
  max-height: 575px;
  margin-bottom: 0;  
  background-color: #F5F5F5;
  z-index:2000;
  margin:-100px -200px 50px 100px;!important
}

#footer-panel .panel-body {
  overflow-y: scroll;
  
}

#footer-panel .footer-link {
	padding : 0px 0px 0px 0px;!important
	font-size: 12px;
	
}

#footer-panel ul li{
	float: left;
}
#footer .panel-strip {
	  background-color: #428bca;

}
 */
 /* body {
		background: #222222;
		margin:0;
		padding:0;
	} */
	#container {
		width:980px;
		margin: 0 auto;
		
	}
	#header {
		color: #FEFEFE;
		text-align: center;
	}
	#content {
		background-color: #F5F5F5;;
		padding: 30px;
		height: 1000px;
	}
/* 	#footer_button { */
/* 		width: 980px; */
/* 		margin: 0 auto; */
/* 		text-align: center; */
/* 		font-size: 20px; */
/* 		color: blue; */
/* 		cursor: pointer; */
/* 	} */
/* 	#footer_higher { */
/* 		width:100%; */
/* 		background: #f5f5f5; */
/* 	} */
/* 	#footer_higher #footer_content { */
/* 		width: 980px; */
/* 		margin: 0 auto; */
/* 		display: none; */
/* 	} */
/* 	#footer_higher #footer_content .footbox { */
/* 		background: #blue; */
/* 		padding: 20px; */
/* 		float: left; */
/* 		width: 265px; */
/* 		margin: 10px; */
/* 	} */
/* 	#footer_lower { */
/* 		width: 100%; */
/* 		float:left; */
/* 		background-attachment: scroll; */
/* 	    background-position: 0% 0%; */
/* 	    position: fixed; */
/* 	    bottom: 0pt; */
/* 	    left: 0pt; */
/* 	    z-index:20; */
/* 	} */
/* 	#footer_lower { */
/* 		background:  #428bca; */
/* 		width: 100%; */
/* 		font-size: 10px; */
/* 		color: #BCBCBC; */
/* 		padding: 15px 0px; */
/* 	} */
/* 	#footer_lower #footer_info { */
/* 		width: 980px; */
/* 	} */
/* 	#footer_lower #copyright { */
/* 		width: 610px; */
/* 		float: left; */
/* 		text-align:left; */
/* 	} */
/* 	#footer_lower #attr { */
/* 		width: 325px; */
/* 		float: right; */
/* 		text-align:right; */
/* 	} */
/* 	#footer_lower #copyright a, #footer_lower #attr a, */
/* 	#footer_lower #copyright a:link, #footer_lower #attr a:link { */
/* 		color: #9A9A9A; */
/* 		text-decoration: none; */
/* 	} */
/* 	#footer_lower #copyright a:hover, #footer_lower #attr a:hover { */
/* 		color: #BCBCBC; */
/* 		text-decoration: none; */
/* 	} */
	.clear {
		clear:both;
	}
 
.col-sm-offset-3 {
    margin-left: 5%;
}
.site-map {
	display:none;
	position:absolute;
	top:50px;left:0;
	z-index: 1000;
	background-color:#f5f5f5;
		
}

.tooltip-inner {
	z-index: 2;
}
/*** class detail fee section ****/



}